
<h1>Clients</h1>

<h1><%= @stylist.name() %></h1>

  <% if @stylist.clients().any?() %>

    <h3>Here are all the clients for this stylist:</h3>

    <ul>
      <% @stylist.clients().each() do |client| %>
        <li><%= client.client_name() %> <%= client.contact() %></li>
      <% end %>
    </ul>

    <% else %>
      <p>There are no clients for this stylist!</p>
    <% end %>

<p><a href="/stylists/<%= @stylist.id() %>/edit">Edit<%= @stylist.name() %>stylist</a></p>

  <hr>
    <a href="/">Return to Main Page</a>
